/* MAIN GRID */
.pant-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 28px;
  padding: 30px 20px;
  max-width: 1500px;
  margin: 0 auto;
  animation: fadeIn 0.8s ease-in-out;
}


/* FADE ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* PRODUCT CARD */
.pant-card {
  background: #ffffff;
  padding: 16px;
  margin-bottom: 30px;
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  border: 0.5px solid #e5e5e5;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.35s ease;
  position: relative;
  overflow: hidden;
}

.pant-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
}

/* TAG */
.pant-card::before {
  content: "BESTSELLER";
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff2d55;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.9;
  z-index: 2;
}

/* IMAGE */
.pant-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
  transition: 0.4s ease;
}

.pant-card:hover img {
  transform: scale(1.07);
}

/* NAME */
.pant-card h6 {
  margin-top: 12px;
  font-size: 17px;
  font-weight: 600;
  color: #1c1c1c;
}

/* PRICE */
.pant-card p {
  color: #0070ff;
  font-size: 17px;
  font-weight: bold;
  margin-top: 6px;
}

/* BUTTON */
.pant-card button {
  padding: 10px 15px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.pant-card button:hover {
  background: #005cd1;
  transform: translateY(-3px);
  box-shadow: 0 5px 18px rgba(0, 123, 255, 0.4);
}

/* MOBILE */
@media (max-width: 480px) {
  .pant-card img {
    height: 220px;
  }
}
