
/* Carousel container - Full screen */
#bannerCarousel {
  position: relative;
  width: 100%;
  height: 80vh; /* Full viewport height */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Images inside carousel */
.carousel-item img {
  width: auto;
  height: 90vh; /* Full screen height */
  object-fit: cover; /* Prevent distortion */
}

/* Navigation buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(2, 2, 2, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* Indicators */
.carousel-indicators {
  bottom: 10px; /* Move indicators up */
}

.carousel-indicators button {
  background-color: #000000;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #000;
}

/* Optional hover effect */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.5s;
}

