.app-container {
  margin: 0;
  padding: 0;
}

.home-banner {
  width: 100%;
  display: block;
  margin-top: 0; /* ✅ Remove extra gap */
}

  
body {

  margin: 0;
  display: flex;
  place-items: center;
  padding-top: 70px;
  min-width: 320px;
  min-height: 100vh;
  background-color: #c7eaf5; /* ✅ Add this */
}


.page-container {
  margin-top: 0;
  padding: 20px;
}
