/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar Container */
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between; /* Spread items across */
  align-items: center;
  padding: 0 80px; /* Space on left & right */
  background-color: #a8f0d2;
  border-bottom: 1px solid #000000;
  position: fixed; /* Stays at top */
  top: 0;
  left: 0;
  z-index: 100;
}

/* Logo Section */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-logo img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.nav-logo p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #050505;
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 60px;
  list-style: none;
}

.nav-menu li {
  font-size: 1.5rem;
  cursor: pointer;
  color: #070707;
  transition: color white;
}

.nav-menu li:hover {
  color: #111213;
}

/* Login & Cart */
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-login-cart button {
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  background-color: #0080ff;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.nav-login-cart button:hover {
  background-color: #007bff;
}

.nav-login-cart img {
  width: 45px;
  height: 40px;
  cursor: pointer;
}

/* Ensure page content doesn't hide behind navbar */
body {
  padding-top: 80px;
}